.page {
  height: 100%;

  font-family: $basic-font;

  background-color: $gray-basic;
}

.page__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100%;
  padding: 40px 8px;

  @media #{$tablet} {
    padding: 40px 28px;
  }

  @media #{$desktop-extra} {
    padding: 40px 120px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
