@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
}
